<html>
    <head>
        <meta charset='utf-8'>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="~/css/index.css"/>
        <title>Portfolio</title>
    </head>
    <body>


      <div class="Nav">
             <h1>Contact</h1>
            
            <a href="/contact"><p>Contact</p> </a>
             <a href="/projects"><p>Projects</p></a>
                 <a href="https://github.com/ninap41"><p>Github</p></a>
                 <a href="/"><p>Home</p></a>
            
        </div>

       
<div class="form_contain">
<form action="/method" method="post"><BR>
    Name<input type="text" name="TextField"/><BR>
    Email<input type="email" name="Email"/><BR>
    Message<input type="text" name="Message"/><BR>
    <button type="submit">Submit!</button><BR>
</form>
</div>




</body>
</html>