<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="~/css/index.css"/>
        <title>Portfolio</title>
    </head>
    <body>
        <div class="Nav">
            <h1>Portfolio</h1>
            <a href="/contact"><p>Contact</p> </a>
            <a href="/projects"><p>Projects</p></a>
            <a href="https://github.com/ninap41"><p>Github</p></a>
            <a href="/"><p>Home</p></a>
        </div>
    <img src="~/css/guitar.jpg" alt="me" width="30%">
    

    <h2>About Me</h2>
    <p>She writes her own music under the project Indisposed, which reflects the meticulous and emotional method exemplified in her art. Her work has a feminine conceptual sensitivity and love of rich texture, inspired by themes of gender stereotype oppression, the trials of interpersonal relationships, and philosophy. Her process is experimental and abstract; painting with a wild mixed-media blend of ink, oil, coffee, tea, and anything else before the finalization in photoshop.<BR><BR> 
    Nina Palumbo also has a portfolio in software development and is a full stack developer. She currently makes applications with C#, Django, HTML, CSS, Javascript, Jquery, Flask, and Python.</p>
    

     
        <!-- Three routes  
        HOME 
        picture, name, and about me section
        
        PROJECTS 
        3 Projects listed each with a Title, Image , and small description
        
        
        CONTACT-->
       <!-- contact form with a input for name, email, and their message -->

       <!-- Remember all pages should have some styling!! -->
        
            
        

    </body>
</html>