<!-- Title, Image , and small description -->

<html>
    <head>
        <meta charset='utf-8'>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="~/css/index.css"/>
        <title>Portfolio</title>
    </head>
    <body>

<!-- RAzor View Engine Loop through  projects as an objects and output Title image and small description -->

  <div class="Nav">
             <h1>Projects</h1>
            
            <a href="/contact"><p>Contact</p> </a>
             <a href="/projects"><p>Projects</p></a>
             
                 <a href="https://github.com/ninap41"><p>Github</p></a>
                 <a href="/"><p>Home</p></a>
            
        </div>

<div class="Container">
<h2>Weather App</h2>
<img src="" alt="TO BE AN IMAGE">
<p>A creative Javascript, html,css, and Jquery app made using weather API.</p>
</div>


<div class="Container">
<h2>Pacman App</h2>
<img src="" alt="TO BE AN IMAGE">
<p>Javascript, html, and css based pacman simulation</p>
</div>


<div class="Container">
<h2>BIY Booking</h2>
<img src="" alt="TO BE AN IMAGE">
<p>A Django application for DIY booking. Inspired by airbandb</p>

</div>

    </body>
    </html>