body {
     color: grey;
}
a {
    /* text-decoration: None; */
    font-style: bold;
    color: grey;
}

.Nav {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding-bottom: 4rem;
    padding-left: 2rem;

}


.Nav a{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin: 0px auto;

}
.Nav h1{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 0px auto;
    padding-right: 3rem;
    margin-right: 20rem;

}


.form_contain {
    width: 400px;
    margin: 0px auto;
}

img {
    margin: 0px auto;
    border: 1px solid black;
    margin-left:35%;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
h2 {
    text-align: center;
}
p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    display: inline-block;
vertical-align: top;}

form {
    padding: 10px;
}

.Container {
    padding: 10%;
    margin: 20%;
    margin-top: -10rem;
    margin-bottom: -15rem;
}
