@model Woods.Models.Trail

<style>
    h1 {color: rgb(34, 90, 91);}


</style>
    

 <h1>Add New Trail</h1>
<!--  Trail Name, Description, Trail Length, Elevation Gain, Longitude and Latitude -->

<form>
    <span  asp-action="/Create_Trail" asp-controller="Home" method="POST"></span>
    <div class="form-group">
        <label for="Trail_Name">Trail Name</label>
        <input asp-for="Trail_Name" type="text"name="trail_name">
    </div>
       <span asp-validation-for="Description"></span>
    <div class="form-group">
        <label for="Description">Description</label>
        <input asp-for="Description" value="(300 characters max)"type="text" name="description">
    </div>
        <span asp-validation-for="Trail_Length"></span>
    <div class="form-group">
        <label for="Trail_Length">Trail Length (m)</label>
        <input asp-for="Trail_Length"type="text" name="trail_length">
    </div>
        <span asp-validation-for="Elevation_Change"></span>
    <div class="form-group">
        <label for="Elevation_Change">Elevation Gain (ft)</label>
        <input asp-for="Elevation_Change"type="text"name="elevation_change">
    </div>
        <span asp-validation-for="Latitude"></span>
    <div class="form-group">
        <label for="Latitude">Latitude</label>
        <input asp-for="Latitude"type="text" name="latitude">
    </div>
          <span asp-validation-for="Longitude"></span>
    <div class="form-group">
        <label for="Longitude">Longitude</label>
        <input asp-for="Longitude"type="text" name="longitude">
    </div><BR><BR>
    <input id="button" type="submit" value ="Submit">
</form>
