
@{
    ViewData["Title"] = "The Wall";
}

 <h1>Add New Trail</h1>
<!--  Trail Name, Description, Trail Length, Elevation Gain, Longitude and Latitude -->
<!-- <form>
   
    <span asp-validation-for="Trail_Name" asp-controller="Home" method="post"></span>
    <div class="form-group">
        <label asp-for="Trail_Name"></label>
        <input asp-for="Trail_Name">
    </div>
       <span asp-validation-for="Description" asp-controller="Home" method="post"></span>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description">
    </div>
        <span asp-validation-for="Trail_Length" asp-controller="Home" method="post"></span>
    <div class="form-group">
        <label asp-for="Trail_Length"></label>
        <input asp-for="Trail_Length">
    </div>
        <span asp-validation-for="Elevation_Gain" asp-controller="Home" method="post"></span>
    <div class="form-group">
        <label asp-for="Elevation_Gain"></label>
        <input asp-for="Elevation_Gain">
    </div>
        <span asp-validation-for="Longitude_Latitude" asp-controller="Home" method="post"></span>
    <div class="form-group">
        <label asp-for="Longitude_Latitude"></label>
        <input asp-for="Longitude_Latitude">
    </div>
</form> -->