<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="~/css/random.css"/>
        <title>Portfolio</title>
    </head>
    <body>

   
        <div class="Nav">
            <h1>DojoDochi</h1>
            
            <a href="/contact"><p>Contact</p> </a>
            <a href="/projects"><p>Projects</p></a>
            <a href="https://github.com/ninap41"><p>Github</p></a>
            <a href="/"><p>Home</p></a>

            </div>
            


    <div class="Generate">
        <p>@ViewBag.Passcode</p>
        <button method="post" href="clear">clear</button>
      

    </div>
            
 
     
        <!-- Three routes  
        HOME 
        picture, name, and about me section
        
        PROJECTS 
        3 Projects listed each with a Title, Image , and small description
        
        
        CONTACT-->
       <!-- contact form with a input for name, email, and their message -->

       <!-- Remember all pages should have some styling!! -->
        
            
        

    </body>
</html>