@{
    ViewData["Title"] = "Home Page";
}

<div class="Nav">
       <h1>Create User</h1>
       <h3 class={color:red}>Register and Login</h3> 
        <a href="https://github.com/ninap41"><p>Github</p></a>
        <a href=""><p>Home</p></a>    
</div>

@Html.Partial("./Partials/LoginForm")
@Html.Partial("./Partials/RegisterForm")
