@model newloginreg.Models.User

<style>
    h2 {margin-left:25%; margin-top:-1%; color: navy;}
    #Space {margin-top: 7%; font-style: italic; font-size: 5rem;color: black;}
    #Move {margin-left:26%;color: navy;}    
</style>

<div class="Nav">
       <h1>Create User</h1>
       <h3 >Register and Login</h3> 
        <a href="https://github.com/ninap41"><p>Github</p></a>
       <a asp-action="Index"><p>Home</p></a>

<h2 div id="Space">Success!</h2>
<h2 div id="Middle">Hello, @ViewBag.UserName.  </h2>
<p div id="Move">Welcome to your account.</p>
