/*Write all of your CSS here*/
.Nav {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding-bottom: 4rem;
    padding-left: 2rem;
    border: none;

}


.Nav a{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin: 0px auto;

}
.Nav h1{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0px auto;
    padding-right: 3rem;
    margin-right: 20rem;
    border-bottom: 1px solid grey;
    background-color: grey,rgba(255, 255, 255, 0.031);
    

}
.Nav h3{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0px auto;
    padding-right: 3rem;
    margin-right: 20rem;
    font-style: italic;

}




p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    display: inline-block;
    vertical-align: top;
    font-style: italic;
}



#container {
    width: 100%;

}