@model loginRegBoiler.Models.Wrapper
<style>

    .Column{ width: 40%; display: inline-block;vertical-align: top; margin-left: 20%;}
     button[value="Wide_Butt"]{width: 12rem; margin-left: 20rem;}
         h1 {color: rgb(58, 129, 130);}
             button[value="Wide_Butt"]{width: 10rem;}


</style>



    <BR>

<div class="Column">
        <!-- @{
            if(TempData["Success"] != null)
            {
                    @TempData["Success"]
            }
    }

      @{
            if(TempData["LEAVERSVP"] != null)
            {
                    @TempData["LEAVERSVP"]
            }
    } -->
<table class="Padding_Please" value="Squish">
    <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Thing</th>
    <th>#Thing</th>
     <th>Thing</th>
    <th>Action</th>



</tr>
<tr>
<td></td> 
                     <td></td> 
                     <td></td>  
                      <td></td>    
                    <td></td> 
                    </tr>

@{

@if(Model != null){

                
                }
}
  
   

   
</table>
</div>
<br>

<!-- <div class="Column">
        <a href="/Add_Wedding"><button value="Wide_Butt">Add Wedding</button></a> 
</div> -->












