
@{
    ViewData["Title"] = "Home Page";
}

    <div class="Nav">
       <h1>Pokemon</h1>
       <h3 class={color:red}>Catch'em All</h3> 
        <a href="https://github.com/ninap41"><p>Github</p></a>
        <a href="/"><p>Home</p></a>    
    </div>

    

   <div id="container">
       <p>Choose a Type</p> 

       <a href="/type_action"><button>Fire</button></a>
       <a href="/type_action"><button>Water</button></a>
       <a href="/type_action"><button>Grass</button></a>
       <a href="/type_action"><button>Dragon</button></a>
       <a href=""><button>Flying</button></a>
   </div>

    <div id="container">





       
     

    </div>



