@{
    ViewData["Title"] = "Home Page";
}
@model DojoLeague.Models.Dojo
<style>
  
.form_top {padding: 2rem;}
tr {border-bottom:1px double aqua; width: 8rem;}
.head {padding: 2rem;}
   h1 {color: rgb(58, 129, 130);}
   a{text-decoration: none}
   input[value="Add Review"]{width:10re,;}

    
</style>

 <h1>Registered Ninjas:</h1>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Ninja Name</th>
                <th>Home Dojo</th>
            </tr>
        </thead>
        <tbody> -->
            </tr>
            }
        </tbody>
    </table>
}