@{
    ViewData["Title"] = "Home Page";
}

@model BankAccount.Models.RegisterUser
<style>
  
    .Column {margin-left: 10rem;width:35%; vertical-align:top; display:inline-block; }
    label,input,span {margin-top:0px auto;margin-bottom:0px auto;}
    button[value="Wide_Butt"]{width: 10rem;}
    tr {border-bottom:1px double aqua; width: 8rem;}
  .head {padding: 2rem;}
    h1 {color: rgb(58, 129, 130);}
    a{text-decoration: none}

    
</style>

<div class="Column">
 <h1>Register</h1>
<form action="Register" method="POST">
    <label for="First_Name">First Name: </label>
    <input asp-for="First_Name" name="First_Name" type="text"><br>
    <span asp-validation-for="First_Name"></span><br>

    <label for="Last_Name">Last Name: </label>
    <input asp-for="Last_Name" name="Last_Name" type="text"><br>
    <span asp-validation-for="Last_Name"></span><br>

    <label for="Email">Email: </label>
    <input asp-for="Email" name="Email" type="email"><br>
    <span asp-validation-for="Email"></span><br>

    <label for="Password">Password: </label>
    <input asp-for="Password" name="Password" type="password"><br>
    <span asp-validation-for="Password"></span><br>
    
    <label for="Confirm_Password">Confirm Password: </label>
    <input asp-for="Confirm_Password" name="Confirm_Password" type="password"><br>
    <span asp-validation-for="Confirm_Password"></span><br>
        
    <button type="submit"value="Wide_Butt">Register</button>
</form>
</div>


<div class="Column">
<h1>Login:</h1>
<form asp-controller="Home" asp-action="LoginUser" method="POST">
    <div class="form-group">
        <label for="Email">Email</label>
        <input name="Email" type="text" id="Email" >
            @{
                if(TempData["EmailError"] != null){
                        @TempData["EmailError"]
                }
            }
    </div>
        <div class="form-group">
        <label for="Password">Password</label>
        <input name="Password"  id="Password" type="password">
         <!-- //aria-describedby="passwordHelp"  goes in input dont quit undersatnd yet-->
            @{
                if(TempData["PasswordError"] != null){
                       @TempData["PasswordError"]
                }
            }
    </div>
    <button type="submit" value="Wide_Butt">Login</button>
</form>
</div>