.Nav {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding-bottom: 4rem;
    padding-left: 2rem;
    border: none;
}

.Nav a{
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin: 0px auto;

}
.Nav h1{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 0px auto;
    padding-right: 3rem;
    margin-right: 20rem;
    border-bottom: 1px solid grey;
    background-color: grey,rgba(255, 255, 255, 0.031);
    

}
.Nav h3{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0px auto;
    padding-right: 3rem;
    margin-right: 20rem;
    font-style: italic;

}

.form-align {
    width: 45%;
    vertical-align: top;
    display: inline-block;
}

input {
    width: 50%;
}
input[value="Submit"] {width: 100px;margin-left: 0rem;}
input[value="Login"] {width: 100px;margin-left: 0rem;}
button[value="Home"] {width: 100px;}


/* input[id="button"] {margin-right: -200px;} */


p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    vertical-align: top;
    font-style: italic;
}