





<html>
    <head>
        <meta charset='utf-8'>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="~/css/home.css"/>
        <title>Portfolio</title>
    </head>
    <body>

<!-- RAzor View Engine Loop through  projects as an objects and output Title image and small description -->

  <div class="Nav">
             <h1>Survey</h1>
            
            
             
            <a href="https://github.com/ninap41"><p>Github</p></a>
            <a href="/"><p>Home</p></a>
</div>
<p>Name: @ViewBag.Name</p>
<p>Location: @ViewBag.Location</p>
<p>Favorite Language: @ViewBag.Language</p>
<p>Comment: @ViewBag.Comment</p>

</body>
</html>